examples
.babelrc
.idea
package-lock.json
webpack.config.js
lib/demo.js
lib/index.html
.prettierrc
.husky
.editorconfig
.eslintignore
.eslintrc
.gradle
coverage
tests
package-tests
TYPESCRIPT_MIGRATION_PLAN.md
jest.config.js
tsconfig.json
tsconfig.build.json
tsconfig.package.json
